---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="w-full flex justify-center pt-8">
    <p class="border-2 border-blue-400 rounded-2xl shadow-lg px-6 py-4 bg-white text-lg font-medium">
      Loading content from the Azure Functions API: <b id="name">...</b>
    </p>
  </div>
  <Welcome />
</Layout>

<script>
  (async function() {
    const text = await( await fetch(`/api/HttpTrigger1`)).text();
    const nameElement = document.querySelector('#name');
    if (nameElement) {
      nameElement.textContent = text;
    }
  }());
</script>
